* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*UTILS*/
.button {
    width: 20%;
    border: 2px dashed black;
    background-color: #d9a521;
    text-align: center;
}

.btn-white,
.btn-black {
    font-size: 20px;
    border: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50px;
}

.pink-card,
.blue-card {
    width: 600px;
    height: 300px;
    margin: 30px;
}

h1,
p {
    text-align: center;
    color: #fff;
}
.w-70 {
    width: 70%;
    margin: 0
}

.w-30 {
    width: 30%;
    margin: 0;
}


/*NAV BAR*/
.logo,
.link,
.login {
    align-content: center;
    text-align: center;
}

.nav-bar {
    display: flex;
    height: 80px;
    background-color: #255ee9;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    width: 20%;
    ;

}

.link {
    text-decoration: none;
    flex-wrap: nowrap;
    width: 60%;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 20px
}


.login {
    width: 20%;
    border-radius: 5%;
}

/*BANNER*/
.banner {
    color: #fff;
    height: 670px;
    display: flex;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    justify-content: center;
    border-bottom: 5px solid #add8e6;
    /*   padding: 30px; */
}


h1 {
    font-size: 50px;
}

p {
    color: currentColor;
    font-size: 18px;
    margin: 40px;
}

.btn-black {
    background-color: #23272a;
    color: white;
}

.bottoni {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pink-card {
    align-self: center;

}

/*MAIN CONTENT*/ 
.blue-card {
    display: flex;
    justify-content: center; 

  
}
h2{
    font-size: 2rem;
    border-color: black;
    text-align: left;
    padding-right: 160px;
    padding-top: 20px;
    line-height: 1.5;
}

.box-p{
    line-height: 1.5;
    text-align: left;
    color: currentColor;
    margin: 20px;
    
}

.white-content {
    width: 100%;
    margin: 0 auto;
}

.white-container {
    display: flex;
    margin: 40px;
    padding: 50px 0;
}


/*GREY CONTENT*/

.grey-content {
    width: 100%;
    margin-top: 40px;
    background-image: url(../img/wave.svg);   
}

.grey-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 95%;
    margin: 0 auto;
    padding: 50px 0
}

#grey-txt{
   padding: 40px 70px 0px;
}

/*GREEN CONTENT*/
.green-content {
    background-color: grey;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.green-container {
    background-color: green;
    width: 80%;
    height: 700px;
    margin: 40px;
    border: 2px dashed black
}

/*FOOTER*/
footer {
    background-color: #23272a
}

.stretch-section {
    padding: 5px 200px;
    display: flex;
    align-items: stretch
}

.salmon {
    background-color: salmon;
    height: 400px;
    width: 50%;
    border: 2px dashed black
}

.green {
    background-color: lightseagreen;
    flex-grow: 1;
    flex-basis: calc((100% / 12) * 4);
    border: 2px dashed white;
}

/*BUTTON*/
.button-container {
    width: 50%;
    height: 30px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pink,
.button {
    background-color: salmon;
    border: 1px dashed black;
    padding: 5px
}