* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body {
    font-family: sans-serif;
}

/*NAV BAR*/
.logo,
.link,
.login {
    align-content: center;
    text-align: center;
}

.nav-bar {
    display: flex;
    height: 80px;
    background-color: #255ee9;
    align-items: center;
}

.container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
}

.logo {
    width: 20%;
    ;

}

.link {
    text-decoration: none;
    flex-wrap: nowrap;
    width: 60%;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    padding: 20px
}


.login {
    width: 20%;
    border-radius: 5%;
}

.btn-white {
    font-size: 20px;
    border: none;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50px;
}



.button {
    width: 20%;
    border: 2px dashed black;
    background-color: #d9a521;
    text-align: center;
}

/*BANNER*/
.banner {
    display: flex;
    background-color: blue;
    justify-content: center;
    border-bottom: 5px solid #add8e6;
    /*   padding: 30px; */
}

.pink-card,
.blue-card {
    border: 2px dashed black;
    background-color: pink;
    width: 600px;
    height: 300px;
    margin: 30px;
}

.blue-card {
    background-color: blue;
}

/*WHITE CONTENT*/
.white-content {
    width: 100%;
    margin: 0 auto;
}

.white-container {
    display: flex;
    margin: 40px;
    padding: 50px 0;
}

.w-70 {
    width: 70%;
    margin: 0
}

.w-30 {
    width: 30%;
    margin: 0;
}

/*GREY CONTENT*/
.grey-content {
    background-color: grey;
    width: 100%;
    margin-top: 40px;
}

.grey-container {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    width: 95%;
    margin: 0 auto;
    padding: 50px 0
}

/*GREEN CONTENT*/
.green-content {
    background-color: grey;
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.green-container {
    background-color: green;
    width: 80%;
    height: 700px;
    margin: 40px;
    border: 2px dashed black
}

/*FOOTER*/
footer {
    background-color: #23272a
}

.stretch-section {
    padding: 5px 200px;
    display: flex;
    align-items: stretch
}

.salmon {
    background-color: salmon;
    height: 400px;
    width: 50%;
    border: 2px dashed black
}

.green {
    background-color: lightseagreen;
    flex-grow: 1;
    flex-basis: calc((100% / 12) * 4);
    border: 2px dashed white;
}

/*BUTTON*/
.button-container {
    width: 50%;
    height: 30px;
    margin: 0 auto;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-pink,
.button {
    background-color: salmon;
    border: 1px dashed black;
    padding: 5px
}